$scissors-gradient: hsl(39, 89%, 49%);
$paper-gradient: hsl(230, 89%, 62%);
$rock-gradient: hsl(349, 71%, 52%);
$background : hsl(237, 49%, 15%);
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: $background;
    font-family: 'Barlow Semi Condensed', sans-serif;
    header {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin: 2% 25% auto 25%;
        border: 5px solid $header-outline;
        padding: 20px;
        border-radius: 10px;
        .score-sec {
            background-color: #ffffff;
            padding: 10px 40px;
            border: none;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            p {
                color: $score-text;
                font-size: 20px;
                font-weight: 500;
            }
            h2 {
                color: $dark-text;
                font-size: 8vh;
            }
        }
    }
    .wrapper {
        overflow-x: hidden;
        height: 100vh;
        position: relative;
        .game-sec {
            position: relative;
            margin-top: 10%;
            left: 50%;
            transform: translateX(-10%);
            #bg-img {
                max-width: 100%;
            }
            .img-sec {
                .icon {
                    background-color: #ffffff;
               //     padding: 2%  ;
                    padding: 30px 35px;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .icon:hover {
                    opacity: .7;
                }
                .paper {
                    position: absolute;
                    top: -25%;
                    left: -5%;
                    border: 20px solid $paper-gradient;
                }
                .scissors {
                    position: absolute;
                    top: -25%;
                    left: 15%;
                    border: 20px solid $scissors-gradient;
                }
                .rock {
                    position: absolute;
                    top: 55%;
                    left: 5%;
                    border: 20px solid $rock-gradient;
                }
            }
        }
        .rule-sec {
            position: relative;
            .rule-btn {
                padding: 10px 30px;
                background-color: transparent;
                border: 1px solid #ffffff;
                color: #ffffff;
                border-radius: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                cursor: pointer;
                position: absolute;
                left: 85%;
                outline: none;
            }
        }
        .rule-img-sec {
            position: absolute;
            top:0%;
            left: 40%;
            padding: 10px 30px;
            background-color: #ffffff;
            border-radius: 10PX;
            display: none;
            .rule-head {
                margin: 10% auto 10% auto;
                font-size: 30px;
                font-weight: bolder;
                text-transform: uppercase;
                display: flex;
                width: 80%;
                justify-content: space-between;
            }
            .cancel-btn {
               background-color: transparent;
               border: none;
               color: $header-outline;
               font-weight: 500;
               font-size: 30px;
               cursor: pointer;
               outline: none;
            }
            .cancel-btn::before {
                content: 'X';
            }
        }
        .rule-img-sec.active {
            display: block;
        }
    }
}
.icon {
    background-color: #ffffff;
    padding: 30px 35px;
    border-radius: 50%;
    cursor: pointer;
}
.icon:hover {
    opacity: .7;
}
.icon-paper {
    border: 20px solid $paper-gradient;
}
.icon-scissors {
    border: 20px solid $scissors-gradient;
}
.icon-rock {
    border: 20px solid $rock-gradient;
}

.game-play-sec {
    display: flex;
    width: 60%;
    margin: 5% 20% auto 22%;
    justify-content: space-around;
    .user-selected {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: #ffffff;
            text-transform: uppercase;
            margin-bottom: 25%;
        }
    }
    .decision-sec {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;
        h1 {
            color: #ffffff;
            text-transform: uppercase;
            margin-bottom: 20%;
        }
        .play-again-btn {
            padding: 10px 50px;
            background-color: #ffffff;
            color: red;
            border-radius: 5px;
            border: none;
            text-transform: uppercase;           
            cursor: pointer;
        }
        .play-again-btn:hover {
            opacity: .7;
        }      
    }
    .system-selected {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: #ffffff;
            text-transform: uppercase;
            margin-bottom: 15%;
        }
    }
}

@media only screen and (max-width:1100px){
    body {
        header {
            width: 70%;
            margin: 2% 15% auto 15%;
            padding: 10px;
            .score-sec {
                padding: 5px 30px;
                p {
                    font-size: 20px;
                }
                h2 {
                    font-size: 5vh;
                }
            }
        }
        .wrapper {
            .game-sec {
                margin-top: 12%;
                left: 50%;
                transform: translateX(-10%);
                #bg-img {
                    max-width: 40%;
                }
                .img-sec {
                    .icon {
                   //     padding: 2%  ;
                        padding: 20px 25px;
                    }
                    .paper {
                        left: -5%;
                    }
                    .scissors {
                        left: 20%;
                    }
                    .rock {
                        left: 8%;
                    }
                }
            }
            .rule-img-sec {
                transform: translate(-10%);
            }
        }
    }
    .game-play-sec {
        width: 80%;
        margin: 10% 10% auto 12%;
        justify-content: space-between;
        .user-selected {
            h1 {
                margin-bottom: 15%;
            }
        }
        .decision-sec {
            h1 {
                margin-bottom: 10%;
            }
            .play-again-btn {
                padding: 10px 40px;
            }    
        }
        .system-selected {
            h1 {
                margin-bottom: 10%;
            }
        }
    }
}

@media only screen and (max-width:900px){
    body {
        .wrapper {
            .game-sec {
                transform: translateX(-15%);
                .img-sec {
                    .scissors {
                        left: 25%;
                    }
                    .rock {
                        left: 10%;
                    }
                }
            }
            .rule-img-sec {
                transform: translateX(-20%);
            }
            .rule-sec {
                .rule-btn {
                    left: 80%;
                }
            }
        }
    }
    .game-play-sec {
        .user-selected {
            h1 {
                font-size: 20px;
            }
        }
        .decision-sec {
            h1 {
                font-size: 25px;
            }
            .play-again-btn {
                padding: 10px 30px;
            }
        }
        .system-selected {
            h1 {
                font-size: 20px;
            }
        }
    }
}